<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %c{2} - %m%n</pattern>
            <!--%d : 날짜와 시간,
                %5p : 5자 내에서 로그 레벨을 출력
                %c{int} : 출력하는 패키지를 요약 + 클래스명
                %m : 출력 메세지
            -->
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

    <logger name="org.springframework.jdbc" level="TRACE" />
    <logger name="mapper" level="TRACE" />
</configuration>